body {
  &.page-atl-map, &.page-atl-move {
    .container {
      width: 100%;
      padding: 0px;
      margin: 0px;
    }
  }
  overflow-x: hidden;
}

footer {
  text-align: center;
  text-transform: uppercase;
  opacity: 0.40;
  img {
    width: 40%;
  }
  .design-studio {
    top: -0.3em;
    position: relative;
    letter-spacing: 0.25em;
  }
  .uprising-atlanta {
    .uprising, .atlanta {
      letter-spacing: 0.25em;
      display: inline-block;
    }
    .atlanta {
      font-weight: bold;
      //color: @game-red;
    }
  }
}

h1 {

}

h2 {
  &.quote {
    font-size: 15pt;
    font-family: @font-family-serif;
    font-weight: bold;
    color: @game-yellow;
  }
  &.quote:before {
    content: open-quote;
  }
  &.quote:after {
    content: no-close-quote;
  }
  &.quote:last-child:after {
    content: close-quote !important;
  }
}

h3 {
  text-align: center;
  font-family: @font-family-serif;
  font-weight: bold;
  margin-top: 9px;
  margin-bottom: 7px;
  &.title {
    text-transform: capitalize;
  }
}

h4 {
  text-align: center;
  font-family: @font-family-serif;
  font-weight: bold;
  margin-top: 7px;
  margin-bottom: 6px;
  &.title {
    text-transform: capitalize;
  }
}

h5 {
  text-align: center;
  font-family: @font-family-serif;
  margin-top: 6px;
  margin-bottom: 5px;
}

header {
  position: absolute;
  z-index: 1111;
  width: 100%;
  margin-top: 0.3em;
  margin-left: 0.2em;
  .header-item {
    position: relative;
    height: 2.4em;
    margin-left: 0.2em;
    &.level {
      height: 2.8em;
      margin-left: 0em;
      .progress {
        top: 6px;
      }
    }
  }
  .fa, strong {
    border: 2px solid @game-white;
    font-size: 20px;
    border-radius: 18px;
    width: 1.3em;
    height: 1.3em;
    text-align: center;
    color: @game-white;
    padding: 1px 2px 2px 3px;
    position: absolute;
  }
  strong {
    width: 1.6em;
    height: 1.6em;
    padding-top: 3px;
  }
  .progress {
    height: 18px;
    background-color: transparent;
    border-radius: 8px;
    border: 2px solid @game-white;
    position: absolute;
    top: 4px;
  }
  .progress-bar {
    padding-top: 1px;
    padding-left: 4em;
    padding-right: 2em;
    min-width: 6em;
  }
  &.row {
    margin-left: 0px;
    margin-right: 0px;
  }
  .money {
    .fa {
      background-color: @game-green-bg;
    }
  }
  .actions {
    .fa {
      background-color: @game-purple-bg;
    }
  }
  .energy {
    .fa {
      background-color: @game-red-bg;
    }
  }
  .level {
    strong {
      background-color: @game-orange-bg;
    }
  }
}

li {
  color: @game-white;
  list-style-image: url(//placehold.it/5x5/ee0000/ffffff);
  margin-left: -10px;
  font-size: 90%;
}

p {
  font-size: 11pt;
  .location {
    color: @game-orange;
    font-size: 110%;
  }
  &.quote {
    font-size: 13pt;
    font-family: @font-family-serif;
    font-weight: bold;
    color: @game-yellow;
  }
  &.quote:before {
    content: open-quote;
  }
  &.quote:after {
    content: no-close-quote;
  }
  &.quote:last-child:after {
    content: close-quote !important;
  }
}

ul {
  -webkit-padding-start: 24px;
  color: @game-red;
}

.alert-success {
  background-color: @game-green-bg;
  color: @game-white;
}

.arrows {
  line-height: 1.0;
}

.big {
  font-size: 200%;
}

.bigbig {
  font-size: 250%;
}

.choose-party-name img {
  width: 32px;
}

.choose-party-slogan {
  margin-left: 40px;
  margin-bottom: 8px;
}

.elder-image {
  width: 96px;
  height: 144px;
  //background: url(/sites/default/files/images/stlouis_elder.png) top left no-repeat;
  background: url(//placeholdit.imgix.net/~text?txtsize=20&txt=City+Elder&w=96&h=144&txttrack=1) top left no-repeat;
  font-size: 0px;
  display: inline-block;
  background-size: 96px 144px;
  float: left;
  margin-right: 12px;
  margin-bottom: 8px;
}

.error {
  background-color: @game-red-bg !important;
}

.game-button-continue a::after {
  content: " »";
}

.game-button-exterior {
  width: 100%;
  text-align: center;
  display: inline-block;
  background-color: inherit;
  border: 0;
  margin-bottom: 14px;
}

.game-button-interior {
  color: @game-green !important;
  text-align: center;
  font-family: @font-family-serif;
  font-size: 21px;
  font-weight: bold;
  -webkit-mask-image: url(//themes.googleusercontent.com/static/patterns/putting-green.png);
  margin: 20px 20px 6px;
  padding: 6px 20px 8px;
  text-transform: uppercase;
  border: 1px solid rgba(238, 23, 0, 0.7);
  background-color: rgba(238, 23, 0, 0.5);
  border-radius: 6px;
  display: inline-block;
  text-shadow: 1px 1px @game-red;
  position: relative;
}

.game-button-tooltip {
  -webkit-mask-image: inherit;
  background-color: @game-green-bg;
  color: @game-white !important;
  border: 1px solid @game-green;
  font-size: 14px;
  margin: 0px;
  text-transform: none;
  text-shadow: 1px 1px @game-blue;
  &::before {
    content: "Tip: ";
  }
  &::after {
    content: "";
    position: absolute;
    bottom: 100%;
    left: 50%;
    margin-left: -14px;
    border-width: 14px;
    border-style: solid;
    border-color: transparent transparent @game-green transparent;
  }
}

.goals {
  display: none;
  margin: 4px;
  margin-top: 10px;
  padding: 6px;
  border: 2px dashed @game-red;
  border-radius: 6px;
  position: relative;
  ul {
    display: table;
    -webkit-padding-start: 12px;
  }
  &:hover:before {
    content: "FIXME Goals";
  }
  &:before {
    content: "FIXME";
    position: absolute;
    top: -22px;
    right: 8px;
    font-weight: bold;
    font-size: 12pt;
    background-color: black;
    margin: 4px;
    padding: 3px 16px;
    border: 2px dashed @game-red;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
  }
}

.krumo-root li {
  color: @game-black;
}

.phone-image {
  width: 96px;
  height: 144px;
  //background: url(/sites/default/files/images/stlouis_elder.png) top left no-repeat;
  background: url(//placeholdit.imgix.net/~text?txtsize=20&txt=Cell+Phone&w=96&h=144&txttrack=1) top left no-repeat;
  font-size: 0px;
  display: inline-block;
  background-size: 96px 144px;
  float: left;
  margin-right: 12px;
  margin-bottom: 8px;
}

// Fix bootstrap bug.
.row {
  //margin: 0;
  //padding: 0;
}

.welcome {
  margin: 2px;
  margin-top: 10px;
  padding: 3px;
  border: 2px solid @game-red;
  border-radius: 6px;
  min-height: 160px;
  position: relative;
  ul {
    display: table;
    -webkit-padding-start: 12px;
    li {
      font-size: 12pt;
      //font-family: @font-family-serif;
      font-weight: bold;
      color: @game-yellow;
      margin-bottom: 9px;
    }
  }
  /*
  &:hover:before {
    content: "FIXME Welcome";
  }
  &:before {
    content: "FIXME";
    position: absolute;
    top: -22px;
    right: 8px;
    font-weight: bold;
    font-size: 12pt;
    background-color: black;
    margin: 4px;
    padding: 3px 16px;
    border: 2px dashed @game-red;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
  }
  */
}

#map {
  width: 100%;
  height: 100vh;
  position: relative;
  .leaflet-control-container {
    display: none;
  }
  .map-return {
    position: absolute;
    z-index: 10;
    padding: 6px;
    background-color: @game-white;
    top: 6px;
    left: 12px;
    border: 1px solid @game-red;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
    a {
      color: @game-blue;
      text-decoration: none;
    }
  }
}
